.order-codes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;

  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  ::ng-deep span:nth-child(2n - 1) {
    font-weight: bold;
  }
}
