@charset "UTF-8";
 body>div{
     padding: 0 8px;
}
html{
    -webkit-tap-highlight-color:transparent
}
/*! * Pikaday * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/ */
.topLeftSelectionHandle-HitArea:not(.ht_master .topLeftSelectionHandle-HitArea),.topLeftSelectionHandle:not(.ht_master .topLeftSelectionHandle){
    z-index:9999
}
body{
    margin:0
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:300;
    src:local('Roboto Light Italic'),local('Roboto-LightItalic'),url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:400;
    src:local('Roboto Italic'),local('Roboto-Italic'),url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:500;
    src:local('Roboto Medium Italic'),local('Roboto-MediumItalic'),url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:700;
    src:local('Roboto Bold Italic'),local('Roboto-BoldItalic'),url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:900;
    src:local('Roboto Black Italic'),local('Roboto-BlackItalic'),url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsE.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:300;
    src:local('Roboto Light'),local('Roboto-Light'),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    src:local('Roboto'),local('Roboto-Regular'),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:500;
    src:local('Roboto Medium'),local('Roboto-Medium'),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:700;
    src:local('Roboto Bold'),local('Roboto-Bold'),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:900;
    src:local('Roboto Black'),local('Roboto-Black'),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype')
}
@font-face{
    font-family:'Roboto Slab';
    font-style:normal;
    font-weight:400;
    src:local('Roboto Slab Regular'),local('RobotoSlab-Regular'),url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype')
}
@font-face{
    font-family:'Roboto Slab';
    font-style:normal;
    font-weight:700;
    src:local('Roboto Slab Bold'),local('RobotoSlab-Bold'),url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwRg.ttf) format('truetype')
}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline:0
}
strong{
    font-weight:700
}
h1{
    margin:.67em 0
}
@media print{
    *,:after,:before{
        background:0 0!important;
        color:#000!important;
        box-shadow:none!important;
        text-shadow:none!important
    }
    a,a:visited{
        text-decoration:underline
    }
    a[href]:after{
        content:" (" attr(href) ")"
    }
    a[href^="#"]:after{
        content:""
    }
    h2,h3,p{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
}
body{
    background-color:#fff
}
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
*,:after,:before{
    box-sizing:border-box
}
html{
    font-size:10px
}
body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.42857143;
    color:#333
}
a{
    color:#337ab7;
    text-decoration:none
}
a:focus,a:hover{
    color:#23527c;
    text-decoration:underline
}
a:focus{
    outline-offset:-2px
}
h1,h2,h3{
    font-family:inherit;
    font-weight:500;
    line-height:1.1;
    color:inherit
}
h1,h2,h3{
    margin-top:20px;
    margin-bottom:10px
}
h1{
    font-size:21px
}
h2{
    font-size:19px
}
h3{
    font-size:24px
}
p{
    margin:0 0 10px
}
ol,ul{
    margin-top:0
}
ul ol{
    margin-bottom:0
}
ol,ul{
    margin-bottom:10px
}
@-ms-viewport{
    width:device-width
}
body{
    position:relative;
    font-family:Roboto,sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:17px;
    color:#666;
    min-height:100%
}
html{
    height:100%;
    box-sizing:border-box
}
a{
    transition:all .3s ease;
    color:#c4161c
}
a:focus,a:hover{
    outline:0;
    text-decoration:none;
    color:#d04549
}
.rte p{
    line-height:26px;
    margin-top:15px
}
.rte h3{
    font-size:21px;
    font-weight:700;
    margin:15px 0 6px
}
.rte ul{
    margin-top:15px;
    padding:0 0 0 20px
}
.rte ul li{
    margin:10px 0 0
}
.rte p:first-child,.rte ul li:first-child{
    margin-top:0
}
.rte p:last-child{
    margin-bottom:0
}
@font-face{
    font-family:icons;
    src:url(../fonts/icons.eot);
    src:url(../fonts/icons.eot?#iefix) format('eot'),url(../fonts/icons.woff) format('woff'),url(../fonts/icons.ttf) format('truetype'),url(../fonts/icons.svg#icons) format('svg');
    font-weight:400;
    font-style:normal
}
