@import 'theme';

$max-width: 1000px;

:host {
  background-color: map-get($primary, 100);
  height: 100%;
}

.toolbar {
  max-width: $max-width;
  margin-top: 25px;

  > button {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
.content-sec {
    padding: 2em;
}
.save-btn {
    margin-top: 1em;
    margin-bottom: 1em;
}
