@mixin mat-toolbar-height($height, $padding: false) {
  &.mat-toolbar {
    min-height: $height;
    @if $padding {
      padding: $padding;
    }
  }

  .mat-toolbar-row {
    height: $height;
  }
}

@mixin sg-toolbar($height, $padding) {
  $inner-height: calc(#{$height} - 16px);


  .sg-toolbar {
    border-top: none;
    border-bottom: 1px solid map-get($primary, 400);
    line-height: $sg-24;
    font-size: 14px;
    color: map-get($primary, 800);
    height: $height;
    max-width: 100vw;

    @include mat-toolbar-height($height, $padding);

    &.wrapper-only {
      height: auto;
      @include mat-toolbar-height(auto, 0 $sg-24);
      $inner-height: $sg-32;
    }

    ::ng-deep {
      .toolbar-main-actions {
        display: none;
      }

      @media(min-width: 500px) {
        .toolbar-main-actions {
          display: inline;
        }
      }

      button {
        height: $inner-height;
        font-size: $sg-14;
        font-weight: $font-weight-regular;
        line-height: 1;
        outline: 0;
        overflow: hidden;

        mat-icon {
          width: $sg-20;
          height: $sg-20;
          line-height: 1;
          font-size: $sg-20;

          svg {
            vertical-align: baseline !important;
          }
        }

        &.mat-button {
          padding: 0 10px;
          min-width: 40px;

          .mat-button-wrapper span {
            display: none;
          }

          @include media-breakpoint-up(lg) {
            mat-icon { margin-right: $sg-8; }
            .mat-button-wrapper span { display: inline; }
          }
        }
      }

      .title {
        font-weight: $font-weight-bold;
        line-height: $inner-height;
        margin-left: 10px;
        font-size: 18px;
      }

      .text {
        line-height: $inner-height;
      }

      .separator {
        width: 1px;
        background: map-get($primary, 400);
        margin: 0 10px;
      }

      .mat-slide-toggle {
        height: $inner-height;
        line-height: 1;
        font-weight: $font-weight-regular;
      }

      .highlighted {
        color: map-get($accent, default);
      }
    }
  }
}
