@import 'theme';

:host > div {
  width: 100%;
  box-sizing: border-box;
}

::ng-deep {
  flex: 1 1 auto;
  .mat-row {
    cursor: pointer;

    .mat-cell {
      .duplicate {
        display: flex;
        visibility: hidden;
      }
    }
  }
  .mat-row:hover {
    .mat-cell {
      .duplicate {
        margin-right: 10px;
        visibility: visible;
      }
    }
  }
  .mat-row.-active,.mat-row:hover {
    background-color: map_get($sg-gray, 200);
    .mat-cell {
      color: map_get($accent, 500);
    }
  }
}

.-full-width {
  width: 70%;
}
::ng-deep {
  .mat-sort-header-container {
    margin-left: 2px;

    .mat-sort-header-arrow {
      margin: 0 0 0 2px;
    }
  }
  .-full-width-with-sort {
    width: 100%;
    .mat-sort-header-container {
      width: 100%;
      .mat-sort-header-button {
        width: 90%;
      }
    }
  }
}
.column-name {
  font-weight: bold;

  .name {
    @include text-ellipsis();
    line-height: 40px;
  }
}

.open-button {
  // display: none;
  visibility: hidden;
}
mat-row:hover .open-button {
  // display: inline-block;
  visibility: visible;
}

.data-grid {
  .bold {
    font-weight: bold;
  }
  .options {
    text-align: right;
  }
  .parsing-warning {
    color: map_get($accent, 500);
  }
  ul.users {
    padding: 0;
    list-style: none;
    li {
      span {
        display: inline-block;
      }
      .mat-icon {
        cursor: pointer;

        &:hover {
          color: map_get($accent, 500);
        }
      }
      .mat-icon.-active {
        color: map_get($accent, 500);
      }
      .mat-icon.-not-active {
        &:hover {
          color: black;
        }
      }
      .-default-cursor {
        cursor: default;
      }
    }
  }
  .-full-width {
    width: 100%;
  }

  .-text-button {
    font-weight: bold;
    &:hover {
      color: map_get($accent, 500);
    }
  }

  mat-progress-spinner {
    display: inline-block;
  }
}

mat-paginator {
  max-width: 100vw;
}

form {
  height: 100%;
}

// input and buttons inside form to assign user to company
.role-status-button, .role-status-inputs > mat-form-field {
  margin-left: 10px;
}

.role-status-inputs {
  display: inline-block;
  mat-form-field {
    width: 100px;
  }
}

.loading-table-data {
  margin: 15px 0;
  text-align: center;
  mat-progress-spinner {
    display: inline-block;
  }
}

.consoleFont {
  font-family: 'Courier New', Courier, monospace;
}

.single-block {
  flex-wrap: wrap;
}
.single-block > * {
  margin: 10px 5px;
  min-width: 300px;
}
.single-block [fxLayout] > * {
  width: 100%;
}
