@import 'theme';


mat-form-field, input {
  width: 100%;
  margin-bottom: 8px;
}

.note {
  margin: 4px 0;
  font-size: 90%;
  font-style: italic;
}

::ng-deep .checkbox {
  margin-bottom: 16px;

  .mat-checkbox-layout {
    display: flex !important;
    white-space: unset;
  }

  .mat-checkbox-inner-container {
    margin-top: 0;
  }
}

.invite-desc {
  color: map-get($primary, 800);
  margin-bottom: $sg-16;
}
