
<div class="card-layout bootstrap">
  <div class="card-big">
    <mat-card>
      <div *ngFor="let item of compare$ | async; let i = index"
        [ngClass]="[item.highlighted ? 'compare-highlight-' + i : '']"
        class="project col-12 col-lg-6"
      >
        <div class="name"> {{ item.project | sgProjectName }}</div>
        <div class="sg-border compare-{{ i }}"></div>
        <sg-project-site-properties [project]="item.project"></sg-project-site-properties>
      </div>
    </mat-card>
  </div>
</div>
