@use 'sass:math';
@import 'theme';

.row {
  color: map-get($primary, 800);
  display: flex;
  padding: 6px 8px;
  vertical-align: center;
  margin: auto;
  font-size: 13px;
}

.border > .row {
  border-bottom: 1px solid map-get($primary, 300);
}

.left {
  flex: 0 0 40%;
  font-weight: $font-weight-bold;
}

.right {
  flex: 0 0 30%;
  margin: auto;
}

sg-unit-value {
  width: 60px;
  display: inline-block;
  text-align: right;
  margin-right: math.div($sg-16, 2);
}
